
.container {
    display: inline !important;
}

.container-fluid span {
    color: #f9004d !important;
}

#main_menu .navbar-nav .nav-item  .nav-link {
    color: white !important;
    text-decoration: none !important;
    font-size: 20px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    margin-right: 20px !important;
}

#main_menu .navbar-nav .nav-item  .nav-link:hover{
    background-color: transparent !important;
    border: 2px solid #f9004d !important;
    cursor: pointer !important;
    border-radius: 7px !important;
    background: #f9004d !important;
    color: #FFFDD0 !important;
}

#logo {
	font-size: 40px !important;
	margin-left: 61px !important;
	margin-top: -40px !important;
}

#logo span {
color: red !important;
}


.background {
    width: 100% !important;
    height: 755px !important;
    background-image: url(/image/IMG_1094.jpg) !important;
    background-size: cover !important;
}


.contant{
    position: absolute !important;
    top: 80% !important;
    left: 8% !important;
    transform: translateY(-50%) !important;
 
    
}

.background .contant h1{
    color: white !important;
    margin: 0px 0px -5px !important;
    font-size: 54px !important;
}

.background .contant span{
    color: #f9004d !important;
}

.background .contant h3{
    color: white !important;
    font-size: 25px !important;
    margin-bottom: 50px !important;
}

.background .contant h4{
    color: #fcfc !important;
    letter-spacing: 2px !important;
    font-size: 20px !important;
}

.background .contant .newslatter form {
    width: 380px !important;
    max-width: 100% !important;
    position: relative !important;
}

.background .contant .newslatter form input:first-child{
    display: inline-block !important;
    width: 100% !important;
    padding:10px 10px !important;
    border: 2px solid #f9004d !important;
    outline: none !important;
    border-radius: 30px !important;
}

.background .contant .newslatter form input:last-child{
    position: absolute !important;
    display: inline-block !important;
    outline: none !important;
    border: none !important;
    padding: 11px 30px !important;
    border-radius: 30px !important;
    background-color: #f9004d !important;
    color: white !important;
    margin-left: 5px !important;
    cursor: pointer !important;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585 !important;
    top: 2px !important;
    right: 2px !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    font-weight: bold !important;
}


.about {
    width: 100% !important;
   padding: 100px 0px !important;
   background: #191919 !important;
}

.about img{
    height: auto !important;
    width: 430px !important;
}

.about_text {
    width: 550px !important;
}

.main {
    width: 1130px !important;
    max-width: 95% !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.about_text h2{
    color: white !important;
    font-size: 75px !important;
    text-transform: capitalize !important;
    margin-bottom: 20px !important;
}

.about_text h5{
    color: white !important;
    letter-spacing: 2px !important;
    font-size: 22px !important;
    text-transform: capitalize !important;
}
.about_text p{
    color: #fcfc !important;
    letter-spacing: 1px !important;
    line-height: 28px !important;
    font-size: 18px !important;
    margin-bottom: 45px !important;
}

button {
    background-color: #f9004d !important;
    color: white !important;
    text-decoration: none !important;
    border: 2px solid transparent !important;
    font-weight: bolder !important;
    padding: 13px 30px !important;
    border-radius: 30px !important;
    transition: .4s !important;
}

button:hover {
    background-color: transparent !important;
    border: 2px solid #f9004d !important;
    cursor: pointer !important;
}


.service {
    background: #101010 !important;
    width: 100% !important;
    padding: 100px 0px !important;
 }
 .title h2{
    color: white !important;
    font-size: 75px !important;
    width: 1130px !important;
    margin: 30px auto !important;
    text-align: center !important;
 }
 .box {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 400px !important;
 }

 .box .card {
    height: 365px !important;
    width: 335px !important;
    padding: 20px 35px !important;
    background:#191919 !important;
    border-radius: 20px !important;
    margin: 15px !important;
    position: relative !important;
    overflow: hidden !important;
    text-align: center !important;

 }

 .card i{
    font-size: 50px !important;
    display: block !important;
    text-align: center !important;
    margin: 25px 0px !important;
    color: #f9004d !important;
 }

 .box .card h5{
    color: white !important;
    font-size: 23px !important;
    margin-bottom: 15px !important;
 }

 .pre p{
    color: #fcfc !important;
    font-size: 16px !important;
    line-height: 27px !important;
    margin-bottom: 25px !important;
 }

 .card .button {
    background-color: #f9004d !important;
    color: white !important;
    text-decoration: none !important;
    border: 2px solid transparent !important;
    font-weight: bolder !important;
    padding: 9px 22px !important;
    border-radius: 30px !important;
    transition: .4s !important;
 }
 .card .button:hover {
    background-color: transparent !important;
    border: 2px solid #f9004d !important;
    cursor: pointer !important;
}

.contact-me{
    width: 100% !important;
    height: 290px !important;
    background: #191919 !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.contact-me p{
    color: white !important;
    font-size: 30px !important;
    text-transform: capitalize !important;
    font-weight: bold !important;
    margin-bottom: 40px !important;

}

.contact-me .button-two {
    background-color: #f9004d !important;
    color: white !important;
    text-decoration: none !important;
    border: 2px solid transparent !important;
    font-weight: bolder !important;
    padding: 9px 22px !important;
    border-radius: 30px !important;
    transition: .4s !important;
}


.contact-me .button-two:hover {
    background-color: transparent !important;
    border: 2px solid #f9004d !important;
    cursor: pointer !important;
}

footer{
    position: relative !important;
    width: 100% !important;
    height: 400px !important;
    background: #101010 !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

}

footer p:nth-child(1){
    font-size: 30px !important;
    color: white !important;
    margin-bottom: 20px !important;
    font-weight: bold !important;

}

footer p:nth-child(2){
    color: white !important;
    font-size: 17px !important;
    width: 500px !important;
    text-align: center !important;
    line-height: 26px !important;
    font-style:oblique !important;
}

.social {
    display: flex !important;
}

.social a{
    width: 45px !important;
    height: 45px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: #f9004d !important;
    border-radius: 50% !important;
    margin: 22px 10px !important;
    color: white !important;
    text-decoration: none !important;
    font-size: 20px !important;

}

.social a:hover{
    transform: scale(1.2) !important;
    transition: .3s !important;

}

.end {
    position: absolute !important;
    color: #f9004d !important;
    bottom: 35px !important;
    font-size: 14px !important;
}